@model Demo.Models.Group

    <br/>
    <form method="post" asp-controller="Group" asp-action="Create">
        <div class="input-group">
            <input asp-for="Name" type="text" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
            <input type="submit" value="Create" class="btn btn-primary"/>
        </div>
    </form>

   