@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the West Assignment Website</h1>
    <p>This page is under Construction</p><br />
    <p><a href="https://docs.microsoft.com/aspnet/core">Learn More about ASP here</a></p>
</div>
